/******************************************************************
Site Name: Food Easy
Author: angelhackteam

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

------------ MAP ------------

01. GENERAL STYLES, includes fonts, modal, tables, H1, links, buttons
02. HEADER STYLES
03. FOOTER STYLES
04. LOGIN STYLES
05.	GENERAL LAYOUTS

******************************************************************/

body {
	margin:0;
	padding:0;

	#index{
		#top{
			.navbar{
				margin:0;
				img {width:100%;};
			}
		}
	}
}

#splash-screen{
	.container {
		position: absolute;
		top: 0;
		left: 0;
	}
}
