#myModal {
  background: #00ff00 url('/Assets/images/FoodEasy/popup_bg.png') no-repeat;
  height: 782px;
  width: 560px;
}
#myModal .modal-footer {
  background: transparent;
  border: none;
}
.container #top .navbar{
	margin-bottom: 0;
}
/*.swiper-container, .swiper-slide {
	width: 500px;
	height: 200px;
}*/