/******************************************************************
Site Name: Best Test Online
Author: ES

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/
/*! normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE6/7/8/9 & FF3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 2 */

}
/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/*
 * Addresses margins handled incorrectly in IE6/7.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7.
 * Addresses font sizes within `section` and `article` in FF4+, Chrome, S5.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/*
 * Addresses styling not present in S5, Chrome.
 */
dfn {
  font-style: italic;
}
/*
 * Addresses styling not present in IE6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/*
 * Addresses margins set differently in IE6/7.
 */
p,
pre {
  margin: 1em 0;
}
/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * Addresses CSS quotes not supported in IE6/7.
 */
q {
  quotes: none;
}
/*
 * Addresses `quotes` property not supported in S4.
 */
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/*
 * Addresses paddings set differently in IE6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/*
 * Corrects list images handled incorrectly in IE7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */

  -ms-interpolation-mode: bicubic;
  /* 2 */

}
/*
 * Corrects overflow displayed oddly in IE9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7.
 */
form {
  margin: 0;
}
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  white-space: normal;
  /* 2 */

  *margin-left: -7px;
  /* 3 */

}
/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */

  margin: 0;
  /* 2 */

  vertical-align: baseline;
  *vertical-align: middle;
  /* 3 */

}
/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */

  cursor: pointer;
  /* 3 */

  *overflow: visible;
  /* 4 */

}
/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

  *height: 13px;
  *width: 13px;
  /* 3 */

}
/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in FF3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/******************************************************************
CUSTOMIZED RESET VALUES
I added these extra styles as a more personalized reset. Feel free
to remove them if you like or add your own. If you want to update
the normalize styles, make sure to edit from this point up.
******************************************************************/
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
b,
strong,
.strong {
  font-weight: bold;
}
dfn,
em,
.em {
  font-style: italic;
}
small,
.small {
  font-size: 75%;
}
ul,
ol {
  padding: 0;
  list-style-type: none;
}
dd {
  margin: 0;
}
.sidebar ul,
.sidebar ol,
.commentlist {
  list-style: none;
}
/******************************************************************
Site Name: 
Author: 

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of LESS' great features: 
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques like box shadow and
border-radius.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more. 

******************************************************************/
/*********************
COLORS
*********************/
/*********************
TYPOGRAPHY
*********************/
/* 	To embed your own fonts, use this syntax
	and place your fonts inside the 
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/
@font-face {
  font-family: 'Gotham_Light';
  src: url('../fonts/gotham_light.eot');
  src: url('../fonts/gotham_light.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham_light.woff') format('woff'), url('../fonts/gotham_light.ttf') format('truetype'), url('../fonts/gotham_light.svg#font-name') format('svg');
  font-weight: normal;
  font-style: normal;
}
.gotham_light {
  font-family: "gotham_light";
}
@font-face {
  font-family: 'Gotham_Medium';
  src: url('../fonts/gotham_medium.eot');
  src: url('../fonts/gotham_medium.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham_medium.woff') format('woff'), url('../fonts/gotham_medium.ttf') format('truetype'), url('../fonts/gotham_medium.svg#font-name') format('svg');
  font-weight: normal;
  font-style: normal;
}
.gotham_medium {
  font-family: "gotham_medium";
}
@font-face {
  font-family: 'Gotham_Bold';
  src: url('../fonts/gotham_bold.eot');
  src: url('../fonts/gotham_bold.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham_bold.woff') format('woff'), url('../fonts/gotham_bold.ttf') format('truetype'), url('../fonts/gotham_bold.svg#font-name') format('svg');
  font-weight: normal;
  font-style: normal;
}
.gotham_bold {
  font-family: "gotham_bold";
}
@font-face {
  font-family: 'Gotham_Book';
  src: url('../fonts/gotham_book.eot');
  src: url('../fonts/gotham_book.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham_book.woff') format('woff'), url('../fonts/gotham_book.ttf') format('truetype'), url('../fonts/gotham_book.svg#font-name') format('svg');
  font-weight: normal;
  font-style: normal;
}
.gotham_book {
  font-family: "gotham_book";
}
@font-face {
  font-family: 'Proximanova_Regular';
  src: url('../fonts/proximanova-regular-webfont.eot');
  src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-regular-webfont.woff') format('woff'), url('../fonts/proximanova-regular-webfont.ttf') format('truetype'), url('../fonts/proximanova-regular-webfont.svg#font-name') format('svg');
  font-weight: normal;
  font-style: normal;
}
.proxima_regular {
  font-family: "Proximanova_Regular";
}
@font-face {
  font-family: 'Proximanova_Bold';
  src: url('../fonts/proximanova-bold-webfont.eot');
  src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-bold-webfont.woff') format('woff'), url('../fonts/proximanova-bold-webfont.ttf') format('truetype'), url('../fonts/proximanova-bold-webfont.svg#font-name') format('svg');
  font-weight: normal;
  font-style: normal;
}
.proxima_bold {
  font-family: "Proximanova_Bold";
}
/*
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*/
/******************************************************************
Site Name: Food Easy
Author: angelhackteam

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

------------ MAP ------------

01. GENERAL STYLES
02. HEADER STYLES
03. FOOTER STYLES
04. LOGIN STYLES
05.	PAGE STYLES

******************************************************************/
/********************
*** 01. General Styles
**********************/
body {
  background-color: Firebrick;
  margin: 0;
  padding: 0;
}
body #index #top .navbar {
  margin: 0;
}
body #index #top .navbar img {
  width: 100%;
}
#myModal {
  background:  url('/Assets/images/FoodEasy/popup_bg.png') no-repeat;
  background-size: 90%;
  height: 380px;
  width: 300px;
}
#myModal .modal-footer {
  background: transparent;
  border: none;
}
.container #top .navbar {
  margin-bottom: 0;
}
/* .css-gradient(#dfdfdf,#f8f8f8); */
.btn2 {
  display: inline-block;
  color: #ffffff;
  padding: .25em .75em;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #163c53;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2c76a3), to(#163c53));
  background-image: -webkit-linear-gradient(top, #2c76a3, #163c53);
  background-image: -moz-linear-gradient(top, #2c76a3, #163c53);
  background-image: -o-linear-gradient(top, #2c76a3, #163c53);
  background-image: linear-gradient(to bottom, #2c76a3, #163c53);
  border: 1px solid #2c76a3;
  *border: 0;
  border-bottom-color: #21597b;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
}
.btn2:hover,
.btn2:focus {
  color: #ffffff;
  text-decoration: none;
}
.food-text {
  font-weight: 500;
  font-size: 2em;
  color: #ffffff;
  letter-spacing: 2px;
  font-family: "Proximanova_Regular";
  display: inline-block;
  padding-left: .7em;
  padding-top: .2em;
  text-shadow: 0 2px 0 #000000;
}
.price-text {
  font-weight: 500;
  font-size: 2em;
  color: #ffffff;
  letter-spacing: 2px;
  float: right;
  z-index: 999999;
  padding-top: .2em;
  padding-right: 1em;
  font-family: "gotham_bold";
  text-shadow: 0 2px 0 #000000;
}
/* Swiper Styles */
.swiper-container,
.swiper-container2,
.swiper-container3 {
  width: 100%;
  height: 300px !important;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  /* Fix of Webkit flickering */

  z-index: 1;
}
.swiper-container .swiper-slide,
.swiper-container2 .swiper-slide,
.swiper-container3 .swiper-slide {
  width: 100%;
  height: 300px !important;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  -webkit-transition-property: -webkit-transform, left, top;
  -webkit-transition-duration: 0s;
  -webkit-transform: translate3d(0px, 0, 0);
  -webkit-transition-timing-function: ease;
  -moz-transition-property: -moz-transform, left, top;
  -moz-transition-duration: 0s;
  -moz-transform: translate3d(0px, 0, 0);
  -moz-transition-timing-function: ease;
  -o-transition-property: -o-transform, left, top;
  -o-transition-duration: 0s;
  -o-transform: translate3d(0px, 0, 0);
  -o-transition-timing-function: ease;
  -o-transform: translate(0px, 0px);
  -ms-transition-property: -ms-transform, left, top;
  -ms-transition-duration: 0s;
  -ms-transform: translate3d(0px, 0, 0);
  -ms-transition-timing-function: ease;
  transition-property: transform, left, top;
  transition-duration: 0s;
  transform: translate3d(0px, 0, 0);
  transition-timing-function: ease;
}
.swiper-slide {
  float: left;
}
/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
}
/********************
*** 05. Page Styles
**********************/
#splash-screen .container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}
.buttons {
  display: inline-block;
  color: #ffffff;
  padding: .25em .75em;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #163c53;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2c76a3), to(#163c53));
  background-image: -webkit-linear-gradient(top, #2c76a3, #163c53);
  background-image: -moz-linear-gradient(top, #2c76a3, #163c53);
  background-image: -o-linear-gradient(top, #2c76a3, #163c53);
  background-image: linear-gradient(to bottom, #2c76a3, #163c53);
  border: 1px solid #2c76a3;
  *border: 0;
  border-bottom-color: #21597b;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
}
.buttons:hover,
.buttons:focus {
  color: #ffffff;
  text-decoration: none;
}
#main1 {
  margin-bottom: 0px;
}
#checkout-main1 {
  background: #9c0f0c;
  padding: 2em 6em;
}
#checkout-main1 .width31 {
  width: 30%;
  float: left;
}
#checkout-main1 .width31.food {
  width: 35%;
  padding-left: 1em;
}
#checkout-main1 .width31.pad {
  padding-left: 1.5em;
}
#checkout-main1 .width31.qty {
  text-align: center;
}
#checkout-main1 .width31.price {
  text-align: center;
}
#checkout-main1 .width100 {
  width: 100%;
  padding-left: 1em;
}
#checkout-main1 .width100.em {
  font-weight: 900;
  font-size: 1.1em;
  font-family: "gotham_bold";
  white-space: nowrap;
  color: #42413f;
  margin: .5em 0;
}
#checkout-main1 .width100.pad {
  padding-left: 1.5em;
}
#checkout-main1 #head-board {
  background-image: url("../../Assets/images/FoodEasy/top-receipt.png");
  background-repeat: no-repeat;
  padding: 1em 0;
  margin-left: -0.75em;
  width: 105%;
  margin-top: -2.5em;
  background-size: 100%;
}
#checkout-main1 #board {
  padding: 2em 0em 0 0em;
  background: #fffbf5;
  background-image: url("../../Assets/images/FoodEasy/top-receipt.png");
  background-size: 110% -1em;
  background-repeat: no-repeat;
  width: 100%;
}
#checkout-main1 #board iframe {
  width: 100%;
  height: 360px;
}
#checkout-main1 #board small {
  float: right;
  padding-right: 2em;
}
#checkout-main1 #board label {
  padding-left: 1em;
  font-weight: bold;
}
#checkout-main1 #board .input-wrapper {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1.2em;
}
#checkout-main1 #board .input-xxlarge {
  width: 100%;
}
#checkout-main1 #board .row-fluid.strong {
  font-weight: 900;
  font-size: 1.2em;
  font-family: "gotham_bold";
  white-space: nowrap;
  padding: .5em 0;
}
#checkout-main1 #board .row-fluid.blue {
  color: #2c76a3;
}
#checkout-main1 #Foot-board {
  background-image: url("../../Assets/images/FoodEasy/bottom-receipt.png");
  background-repeat: no-repeat;
  padding: 4em 0em 0em 0em;
  width: 100%;
  z-index: 9999;
}
#checkout-main2 {
  padding: 30px 15px;
  background: #9c0f0c;
}
#checkout-main2 #link {
  text-align: center;
}
/*
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media only screen and (min-width: 768px) {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Tablet & Small Desktop Stylesheet
  
  Here's where you can start getting into the good stuff.
  This size will work on iPads, other tablets, and desktops.
  So you can start working with more styles, background images,
  and other resources. You'll also notice the grid starts to
  come into play. Have fun!
  
  ******************************************************************/
}
